textarea { 
  margin-top: 1rem;
}

button:hover {
  position: relative;
  top: -1px;
}
button:active {
  position: relative;
  top: 1px;
}

.value {
  font-size: .2rem;
}

#output>div {
  border-bottom: 1px solid #ddd;
}

.header {
  font-weight: bold;
}

.footer {
  margin-top: 3rem;
  font-size: .8rem;
  color: #555;
}